name: flutter_honeywell_captuvo_plugin
description: Wrapper for the Honeywell Captuvo SL22/42 iOS API.
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  plugin:
    androidPackage: au.com.entegy.flutter_honeywell_captuvo_plugin
    pluginClass: CaptuvoPlugin
