name: flutter_honeywell_captuvo_plugin
description: Flutter wrapper for the Honeywell Captuvo SL22/42 barcode scanners iOS API.
version: 0.1.1
homepage: https://entegy.com.au

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  plugin:
    androidPackage: au.com.entegy.flutter_honeywell_captuvo_plugin
    pluginClass: FlutterHoneywellCaptuvoPlugin
